<!-- <p *ngFor="let item of items">{{item|json}}</p> -->
<!-- <div class="container-fluid"></div> -->
<div class="container-fluid">
    <!-- <div class="row" *ngFor="let item of items"> -->
    <div class="row">
        <div class="col-3" align="center" *ngFor="let item of itemDisplayList">
            <a [routerLink]="['/itemdetail/', item.itemEntity.itemId]" routerLinkActive="active">
            <!-- {{item|json}} -->
                <div>
                    <h4>{{item.itemEntity.itemName}}</h4>
                    <img [src]="'../../assets/' + item.picture" width="150" height="150"/>
                    <p>price: {{item.itemEntity.itemPrice | currency:'INR'}}</p>
                </div>
            </a>
        </div>

        
    </div> 
    
</div>
<div align="center">
    <ngb-pagination class="ngb-oagination" [collectionSize]="items.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
</div>
<!-- <div><img src="../../assets/livx.jpg" width="200" height="200"/></div> -->
<!-- <router-outlet></router-outlet> -->