<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="/home" routerLinkActive="active">Home</a>
      <!-- <ng-template ngbNavContent>
        
      </ng-template> -->
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="/purchase" routerLinkActive="active" >Purchase History</a>
      <!-- <ng-template ngbNavContent>
        
      </ng-template> -->
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="/discount" routerLinkActive="active" >View Discount</a>
      <!-- <ng-template ngbNavContent>
      </ng-template> -->
    </li>
    <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="/cart" routerLinkActive="active" >My Cart</a>
    </li>
    <li [ngbNavItem]="5">
        <a *ngIf="!token" ngbNavLink routerLink="/logon" routerLinkActive="active" >LogOn/SignUp</a>
        <a *ngIf="token" ngbNavLink routerLink="/home" (click)="logoff()">LogOff</a>
    </li>
</ul>