<!-- <p>{{itemDetail | json}}</p> -->
<ng-container *ngIf="itemDetail">
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <img [src]="'../../assets/items/' + itemDetail.itemEntity.itemImage" width="400" height="400"/>
            <div *ngIf="itemDetail.itemEntity.itemDescription">
                <p>Disctiption : {{itemDetail.itemEntity.itemDescription}}</p>
            </div>
        </div>
        <div class="col-8">
            <!-- <router-outlet></router-outlet> -->
            <!-- <app-item-list [items]="itemList"></app-item-list> -->
            <!-- <app-item-list [items]="itemList"></app-item-list> -->
            <p *ngFor="let alert of alerts">
                <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
            </p>

            <h3>Name : {{itemDetail.itemEntity.itemName}}</h3>
            <div class="container-fluid">
                <div class="row item-detail-hight">
                    <div class="col-4 flex-vertical">
                        Price : {{itemDetail.itemEntity.itemPrice | currency:'INR'}}
                    </div>
                    <div class="col-4 flex-vertical">
                        <p>Tax   : {{itemDetail.subCategoryEntity.subcategoryGst | percent}}</p>
                    </div>
                </div>

                <div class="row item-detail-hight">
                    <div class="col-4 flex-vertical">Category : {{itemDetail.categoryEntity.categoryName}}</div>
                    <div class="col-4 flex-vertical">Subcategery   : {{itemDetail.subCategoryEntity.subcategoryName}}</div>
                </div>

                <div class="row item-detail-hight">
                    <div class="col-4 flex-vertical"> Numbers : 
                        <label for="itemNumbers" class="flex-vertical" >
                            <input id="itemNumbers" [(ngModel)]="itemNumbers" type="number" class="form-control" size="5" height="10px" />
                        </label>
                    </div>
                    <div class="col-4 flex-vertical">Stock Number : {{itemDetail.itemEntity.itemStock - itemNumbers | number}}</div>
                </div>

                <div> Total Cost: {{(itemDetail.itemEntity.itemPrice + itemDetail.itemEntity.itemPrice * itemDetail.subCategoryEntity.subcategoryGst) * itemNumbers | currency:'INR'}}</div>

                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="cartButton">
                            <input id="cartButton" class="btn btn-primary butChange" type="button" value="Add to Cart" (click)="addToCart()" />
                        </label>
                    </div>
                    <div class="col-4">
                        <label for="checkoutButton">
                            <input id="checkoutButton" class="btn btn-primary butChange" type="button" value="Checkout" (click)="checkOut()"/>
                        </label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
</ng-container>