<!-- <p>{{discountList | json}}</p> -->
<div>
<ngb-carousel *ngIf="discountList">
    <ng-template ngbSlide *ngFor="let item of discountList">
      <div class="picsum-img-wrapper" align="center">
        <img [src]="'../../assets/discount/' + item.picture" alt="No Picture">
      </div>
      <div class="carousel-caption">
        <h3>DISCOUNT CODE : {{item.discountCode}}</h3>
        <p>{{item.percentage}} off</p>
        <p>FROM : {{item.startDate}} To : {{item.endDate}}</p>
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
      </div>
      
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template> -->
</ngb-carousel>
</div>