<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header> this is root </header>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="/home" routerLinkActive="active">Home</a>
      <!-- <ng-template ngbNavContent>
        
      </ng-template> -->
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="/purchase" routerLinkActive="active" >Purchase History</a>
      <!-- <ng-template ngbNavContent>
        
      </ng-template> -->
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink routerLink="/discount" routerLinkActive="active" >View Discount</a>
      <!-- <ng-template ngbNavContent>
      </ng-template> -->
    </li>
</ul>
  
<router-outlet></router-outlet>
<!-- <div [ngbNavOutlet]="nav" class="mt-2"></div> -->
  
<pre>Active: {{ active }}</pre>
  


<!-- <router-outlet></router-outlet> -->