<form>
    <!-- <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
    </div> -->
    {{result}}
    <table class="table table-striped">
      <thead>
      <tr>
        <!-- <th scope="col"><input type="checkbox" [ngModelOptions]="{standalone: true}" (change)="master = !master" ></th> -->
        <th scope="col" sortable="name" >Item ID</th>
        <th scope="col" sortable="area" >Item Name</th>
        <th scope="col" sortable="subcategory" >Item Subcategory</th>
        <th scope="col" sortable="population" >Stock Number</th>
        <th scope="col" sortable="updateDate" >Item Price</th>
        <th scope="col" sortable="action" >Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of itemListByOwner">
        <th scope="row">{{item.itemId}}</th>
        <td>
          <ngb-highlight [result]="item.itemName" ></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="item.itemSubcategory" ></ngb-highlight></td>
        <td><ngb-highlight [result]="item.stockNumbers | number" ></ngb-highlight></td>
        <td><ngb-highlight [result]="item.price | currency:'INR'" ></ngb-highlight></td>
        <td>
            <input class="btn btn-primary butChange buttonAction" type="button" value="Edit"/>
            <input class="btn btn-primary butChange" type="button" value="Delete">
        </td>
      </tr>
      </tbody>
    </table>

    

    <!-- <div class="btn-group btn-group-toggle">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.left" [ngModelOptions]="{standalone: true}"> Left (pre-checked)
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.middle" [ngModelOptions]="{standalone: true}"> Middle
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.right" [ngModelOptions]="{standalone: true}"> Right
        </label>
    </div>
    <hr>
    <pre>{{model | json}}</pre> -->
    
  
    <!-- <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div> -->
  
</form>